@font-face {
  font-family:"Hardipe";
  src: url("/Dark-Pattern-Dojo/fonts/Hardipe DEMO.otf");
}

h1, h1 a {
  font-family: "Hardipe";
}

body {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

body {
  background-color:rgb(62, 38, 38);
}

* {
  font-family: Helvetica;
  color: rgb(255, 255, 255);
}

#compHeader {
  background-color:rgb(192, 0, 0);
  padding: 10px, 10px, 10px, 10px;
}

#compHeader h1 {
  margin-top: 0;
  margin-bottom: 0;
}

#compHeader h1 a {
  color: black;
}

#compMain {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#compLeft, #compRight {
  min-width: 200px;
  height: 100vh;
  position: sticky;
  top: 0;
}

#compLeft * {
  width: 100%;
}

#compLeft .sidebar {
  width: fit-content;
  padding: 20px, 10px, 0px, 10px;
  height: 100vh;
  color: rgb(194, 194, 194);
}

#compLeft .sidebar h2 {
  text-align: center;
  margin-top: 0px;
}

#compLeft .sidebar .dropdown-button {
  background-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  border-color: white;
}

#compLeft .sidebar .dropdown-content {
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid rgb(200, 200, 200);
  border-top: none;
  border-bottom: none;
}

#compLeft .sidebar .dropdown-content li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#compMiddle {
  width: 100%;
  background-color:rgb(60, 60, 60);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

@media print, screen and (max-width: 100vh) {
  #compLeft, #compRight {
    display: none;
  }
}

@media print, screen and (min-width: 100vh) {
  #compHideSide {
    display: none;
  }
}