#compMain {
    display: flex;
  flex-wrap: nowrap;
}

#compLeft {
    width: 16vw;
    background-color:gray;
}

@media print, screen and (max-width: 66vh) {
  #compLeft {
    display: none;
  }
}

#compMiddle {
    min-width: calc(100vh);
}