@font-face {
  font-family:"Hardipe";
  src: url("/Dark-Pattern-Dojo/fonts/Hardipe DEMO.otf");
}

h1 {
  font-family: "Hardipe";
}

* {
  font-family: Helvetica;
}

#compMain {
  display: flex;
  flex-wrap: nowrap;
}

#compLeft {
  min-width: calc((1/6)vw);
  height: 100vh;
  position: sticky;
  top: 0;
}

#compLeft div {
  max-width: 200px;
  height: 100vh;
  background-color:gray;
}

#compRight {
  min-width: calc((1/6)vw)
}

@media print, screen and (max-width: 100vh) {
  #compLeft {
    display: none;
  }
}

@media print, screen and (min-width: 100vh) {
  #compHideSide {
    display: none;
  }

  #compMiddle {
    min-width: calc((2/3)vw);
  }
}