@font-face {
  font-family:"Determination";
  src: url("/Dark-Pattern-Dojo/fonts/DTM-Mono.otf");
}

#confirmShamingPopup {
    background-color: rgb(114, 185, 255);
    border: 2px, solid, black;
    justify-self: center;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#confirmShamingPopup * {
    font-family: "Determination";
    text-align:center;
}

#confirmShamingPopup h1 {
    color: yellow;
    font-weight: normal;
    font-size: 30pt;
}

.confirmShamingImg {
    justify-self: center;
}

.confirmShamingImg img {
    height: 200px;
}

#confirmShamingPopup .confirm * {
    font-size: 25pt;
    color:rgb(146, 64, 91);
}

#confirmShamingPopup #popupCancel {
    border: 0 none transparent;
    background-color: transparent;
    font-size: 10pt;
    color:rgb(75, 125, 173);
    cursor:pointer;
}

#confirmShamingReset {
    background-color: rgb(114, 185, 255);
    border: 2px, solid, black;
    justify-self: center;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#confirmShamingReset h1 {
    font-family: "Determination";
    text-align: center;
    color: rgb(75, 125, 173);
    font-weight: normal;
    font-size: 20pt;
}