#confirmShamingPopup {
    background-color: white;
    border: 2px, solid, black;
    justify-self: center;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#confirmShamingPopup * {
    color: black;
    font-family: Helvetica;
    text-align:center;
}

#confirmShamingPopup h1 {
    font-size: 30pt;
}

.confirmShamingImg {
    justify-self: center;
}

.confirmShamingImg img {
    height: 200px;
}

#confirmShamingPopup .confirm * {
    font-size: 25pt;
    color:palevioletred;
}

#confirmShamingPopup .cancel * {
    font-size: 10pt;
    color:gray
}